
use xueshandai

select top 10 * 
from borrow_invest 
where date_created>='2018-03-01' and date_created<'2018-04-01'



select 
'2018年3月' as 月
,count(1) as 人次
,sum(capital) as 成交量
,count(distinct loaner_id) as 企业数量
,count(distinct borrow_id) as 标量
from borrow_invest 
where status in (1,3)
and date_created>='2018-03-01' and date_created<'2018-04-01'

--人次	成交量	企业数量	标量
--4495	89688800.00	95	123


select 
count(1) as 人次
,sum(capital) as 成交量
,count(distinct loaner_id) as 企业数量
,count(distinct borrow_id) as 标量
from borrow_invest 
where status in (1,3)

--人次	成交量	企业数量	标量
--325648	5556627200.00	1627	10789


--企业个人数量
select case when category in ('worth') then '个人' else '企业' end as type
,count(distinct loaner_id) as 数量
from borrow 
group by case when category in ('worth') then '个人' else '企业' end


-- 总待收



select loaner_id,sum(amount) as amount
into #1
from borrow 
where status in(4,5,6)
group by loaner_id

drop table #2
select top 10 loaner_id ,amount
into #2
from #1 
order by amount desc 


select * from #2

select top 10 * from borrow

from (
select id,loaner_id,category,name,full_time,fund_deadline,cycle,cycle_type,repay_type,interest_type,amount,loaner_fee_total,loaner_total,rate 
from borrow 
where status in(4,5,6) and ( full_time < @stat_date or full_time is null) 
and not(interest_type='0' and  full_time is null  and DATEADD(dd,-7,fund_deadline) >= @stat_date)
) a

select a.loaner_id,sum(a.amount) as amount
from borrow a 
inner join #2 b on a.loaner_id=b.loaner_id
group by a.loaner_id


select a.loaner_id 借款id
,a.amount 借款金额
,b.capital 待付本金
from #2 a 
left outer join (

select loaner_id,sum(capital) as capital
from (
select a.id,a.loaner_id,c.capital
from borrow a 
inner join #2 b on a.loaner_id=b.loaner_id
left outer join (
select borrow_id,sum(capital) as capital
from repayment_detail
where repayment_time is null
group by borrow_id
) c on a.id=c.borrow_id
where a.status in(4,5,6)
) a 
group by loaner_id

) b on a.loaner_id=b.loaner_id



select a.*
from borrow a 
inner join repayment_detail b  on a.id=b.borrow_id
where a.loaner_id=33428
and repayment_time is null



select * from borrow where status in(4,5,6)

select sum(amount) from borrow where status in(4,5,6)

12706,12293,13119,12976

 order by date_created desc 

select top 10 * from repayment_detail



use xueshandai

select top 10 *
from repayment_detail


select count(distinct member_id)
from (
select a.id,a.batch_id,b.batch_desc,a.amount
,member_id,valid_date,invalid_date
,case when status in (1,5) then 1 else 0 end as is_used
,status,use_to,invest_id,use_date
,date_created,last_updated
from xueshandai.dbo.card_coupons_detail a 
inner join (select id,amount,batch_desc from xueshandai.dbo.card_coupons_batch where batch_desc like '注册赠送%') b on a.batch_id=b.id 
where member_id is not null 
and valid_date>='2018-03-01'
) a 


select amount,is_used,count(1) as c
from (
select a.id,a.batch_id,b.batch_desc,a.amount
,member_id,valid_date,invalid_date
,case when status in (1,5) then 1 else 0 end as is_used
,status,use_to,invest_id,use_date
,date_created,last_updated
from xueshandai.dbo.card_coupons_detail a 
inner join (select id,amount,batch_desc from xueshandai.dbo.card_coupons_batch where batch_desc like '注册赠送%') b on a.batch_id=b.id 
where member_id is not null 
and valid_date>='2018-05-01'
) a 
group by amount,is_used




select 
top 10
* 
from  xueshandai.dbo.card_coupons_detail
where member_id=980723
and member_id is not null



does_use_status	get_interest	c
0	NULL	5358
3	NULL	16
1	9.86	2117
2	9.86	96

where member_id=980723

select *
from xueshandai.dbo.new_comer_borrow_invest
where date_created>='2018-04-01'
and does_use_status=0


select count(1) as c from member where reg_time >='2018-03-01' and is_valid_idcard=1

select top 10 * from member where id=980723


select * from member where reg_time>'2018-05-31' and reg_referer is not null


select a.* 
from borrow_invest a 
inner join (select * from member where reg_time>'2018-05-31') b on a.investor_id=b.id

use xueshandai

select top 10 * from receipt_detail


DECLARE @end_date varchar(10)
SET @end_date = '2018-05-01'

select @end_date as stat_date,investor_id,sum(a.capital) as balance
from receipt_detail  a 
inner join borrow b on a.borrow_id = b.id
where b.status in (4,5,6) and b.full_time <@end_date
and ( (need_receipt_time>=@end_date and a.status=1) --待收
   or (need_receipt_time>=@end_date and a.status=4 and receipt_time>=@end_date) --已还，截止日期之后还的
   or (need_receipt_time<@end_date and a.status=2) -- 截止日期之前需还，但是目前逾期的
   or (need_receipt_time<@end_date and a.status=4 and receipt_time>=@end_date) -- 截止日期之前需还，但是截止日期之后还的（逾期还款）
)
and investor_id=980723
group by investor_id

select * from repayment_detail 
where status=2
and capital >5000




and capital>400000

select *
 from repayment_detail 
where status=2

should_repay_balance
30355.07

fact_repay_balance
30331.42

select * from borrow where id in (5020,5032,5034,5050)

select * from repayment_detail where borrow_id in (5020,5032,5034,5050) and capital >0

select investor_id,sum(capital) as capital from receipt_detail where borrow_id in (5020,5032,5034,5050)
group by investor_id
order by capital


select * from borrow_invest where investor_id in (33470,41881,38306) 
--and borrow_id in (5020,5032,5034,5050)
order by investor_id,id



select * from member where id in (33470,41881) 

 and capital >5000


 
 select investor_id,uname,sum(capital) as capital_sum
 from borrow_invest  a 
 inner join  member b on a.investor_id=b.id
 where a.date_created>='2018-06-16' and a.date_created<'2018-06-26'
 group by investor_id,uname
 order by capital_sum desc 




 select a.status,b.status as status_b,sum(a.capital) as capital
 from borrow_invest a 
 inner join borrow b on a.borrow_id=b.id
 where a.date_created>='2018-06-16' and a.date_created<'2018-06-26'
 group by a.status,b.status 

 0	1180500.00
1	38944200.00


select * from member_query


select count(distinct member_id) 
from (

select investor_id as member_id
,need_receipt_time 回款时间
,case when rown=1 then '最后一笔回款' else '' end as 回款

from (
select investor_id,a.borrow_id
,b.cycle_type,b.cycle
,issue,capital,interest,should_receipt_balance
,need_receipt_time
,a.status as status_receipt,b.status as status_borrow
,ROW_NUMBER() OVER(partition by investor_id order by need_receipt_time desc)  as rown 
from receipt_detail a 
inner join borrow b on a.borrow_id = b.id
where a.status in (1,2,4) 
and b.status in (1,4,5,6)
and need_receipt_time>=convert(varchar(10),GETDATE(),120)
and capital>0
) a where need_receipt_time>=convert(varchar(10),GETDATE(),120) and need_receipt_time<convert(varchar(10),DATEADD(dd,2,GETDATE()),120)

) a 



select a.id as member_id 
,b.last_invest_date
,b.capital_total
from member a 
inner join (select investor_id,max(date_created) as last_invest_date,sum(capital) as capital_total 
  from borrow_invest
  group by investor_id) b on a.id= b.investor_id
where a.id in (
223071,
20549,
521348,
111919,
103013,
270271,
14764,
86382,
105720,
20967,
101521,
38334,
487481,
19331,
324342,
89849,
111947,
81838,
285736,
348475,
83476,
286124,
366313,
33122,
47324,
119415,
32107,
419040,
30169,
209319,
981212,
573720,
775244,
110478,
16494,
18242,
369600,
96142,
49148,
282284,
976245,
105233,
225761,
626486,
95965,
113256,
34801,
38306,
32722,
278548,
37372,
81422,
107668,
28879,
92502,
284876,
97783,
282629,
15012,
23617,
725,
979022,
103504,
18721,
86806,
120368,
86721,
88938,
475709,
282601,
280845,
284441,
987161,
641178,
293183,
28797,
632279,
282454,
111749,
95473,
107838,
474446,
315478,
34828,
325847,
30358,
34638,
294861,
98601,
279563,
21325,
40099,
110991,
81412,
18230,
34766,
96011,
107666,
47489,
20378,
280983,
170695,
47632,
39977,
93745,
34628,
18769,
105543,
47418,
20139,
285835,
37745,
96575,
25104,
304307,
989368,
110405,
90275,
37500,
10595,
304190,
193241,
20382,
312369,
284948,
34526,
326707,
19053,
19484,
310554,
40810,
98793,
10494,
101418,
286131,
102291,
942118,
111521,
409813,
107839,
407218,
34945,
121017,
110990,
107779,
981456,
447557,
128979,
978559,
34734,
282853,
291815,
40679,
39910,
86107,
205042,
721154,
581917,
20422,
15261,
97297,
189738,
110089,
42437,
89220,
18550,
20089,
110543,
34211,
105743,
105169,
94529,
17800,
193164,
739137,
34944,
106399,
89692,
90681,
104292,
223130,
105255,
32573,
104121,
27473,
41906,
271988,
21399,
476878,
285719,
33021,
110666,
34297,
33401,
38290,
104880,
33426,
104050,
991801,
215665,
102574,
95906,
36686,
67235,
32425,
86335,
17613,
19039,
95085,
102834,
34456,
362319,
106931,
448036,
255941,
49607,
105302,
19057,
19249,
119759,
98551,
34102,
33304,
31764,
108256,
20403,
20991,
170126,
89712,
303042,
26600,
37658,
36089,
311574,
36725,
429488,
39604,
111573,
387694,
40767,
30363,
21162,
292797,
18302,
19631,
18709,
31886,
41340,
665,
19184,
108956,
27383,
980958,
106463,
19872,
96409,
108519,
33416,
981215,
184345,
37541,
263213,
472200,
251627,
813867,
22357,
103958,
991125,
37047,
30874,
186855,
89825,
29189,
31751,
95909,
410753,
29115,
395839,
624149,
19936,
105401,
649155,
16953,
34074,
85373,
280711,
326368,
29892,
33127,
22317,
22987,
82397,
33306,
18378,
36198,
285186,
170483,
47221,
82777,
84033,
577730,
270203,
34870,
394800,
32574,
49372,
303214,
227321,
980433,
41595,
90960,
36128,
34459,
103376,
96978,
11052,
113203,
18481,
265010,
990491,
80307,
111553,
37968,
548398,
34054,
84153,
50114,
958129,
34552,
96059,
81623,
32508,
328197,
265258,
32280,
106387,
41014,
349245,
201236,
489440,
626483,
47021,
985697,
21094,
283744,
593488,
95966,
106315,
34273,
667829,
32990,
25036,
240948,
104082,
108562,
18666,
18168,
14024,
295131,
282147,
33911,
29019,
23599,
280380,
372200,
89425,
282134,
980881,
96079,
518176,
105758,
105415,
105603,
635314,
102545,
183303,
31338,
14418,
10495,
75514,
481967,
86246,
18316,
102779,
105351,
113274,
282369,
979247,
48230,
288364,
102231,
41544,
212,
31729,
14360,
676288,
105841,
42457,
111094,
26388,
96986,
317547,
15192,
38626,
35475,
108573,
94812,
19417,
18352,
37755,
279367,
980800,
982346,
104216,
111909,
28695,
290351,
33473,
20072,
28896,
89388,
34061,
40684,
118556,
148293,
188363,
36816,
22636,
339694,
286784,
10068,
647,
95822,
108437,
371925,
107119,
111969,
254863,
241030,
106456,
90735,
33431,
90647,
29813,
11682,
285302,
105826,
324089,
92065,
809478,
89033,
195290,
17565,
103510,
281141,
90628,
64484,
633342,
42296,
89691,
36645,
15044,
114925,
989981,
661241,
173067,
307841,
281926,
38075,
36114,
120100,
45804,
34955,
15924,
29174,
325625,
31742,
41738,
41115,
97774,
284966,
102738,
980475,
335487,
20501,
19735,
37097,
406038,
17837,
13916,
189067,
635864,
33151,
286076,
979699,
33723,
285807,
85669,
46690,
106620,
95957,
19378,
40349,
224815,
206771,
21503,
63410,
472675,
292754,
30084,
74082,
280922,
33861,
283556,
89869,
102416,
18047,
80947,
90756,
771,
292969,
979572,
348241,
988534,
170550,
103763,
34342,
323905,
101115,
10510,
90717,
289341,
120887,
87140,
440935,
787824,
980791,
99487,
32763,
282124,
280853,
89795,
29171,
292731,
169827,
37231,
412976,
106868,
95867,
371606,
980110,
282378,
319747,
30894,
175325,
376079,
449845,
89263,
79182,
270486,
249,
91430,
33693,
302086,
10506,
10904,
76477,
107944,
15780,
20098,
40150,
84048,
20669,
108078,
19423,
77816,
989275,
98700,
113056,
107902,
50648,
286147,
78031,
110309,
991091,
18344,
740,
230257,
105465,
315910,
277355,
735326,
33835,
19842,
11315,
267501,
10598,
285758,
105618,
981017,
106366,
30130,
281873,
36341,
106560,
285115,
38872,
278844,
980238,
269,
111801,
18657,
40367,
101361,
17692,
108080,
82629,
473336,
978725,
24771,
22526,
758344,
329121,
17794,
748920,
310400,
103955,
98183,
34268,
465849,
29287,
32405,
17931,
96146,
220217,
83943,
36642,
284426,
34300,
302349,
89190,
34370,
282384,
22311,
41842,
40823,
95088,
16857,
325212,
169553,
203,
28981,
28221,
980336,
42644,
17416,
292834,
41550,
92626,
285501,
344855,
111581,
465606,
17784,
33136,
991741,
385940,
20099,
34063,
103456,
95904,
107911,
96263,
10514,
19309,
41581,
314067,
10403,
408298,
105315,
10591,
34467,
102740,
37204,
991169,
35372,
646943,
105706,
448068,
283105,
96313,
48560,
966521,
187887,
34478,
29403,
89667,
102920,
32959,
33550,
37539,
120911,
103085,
106402,
35464,
37598,
22258,
981269,
362735,
103490,
110312,
250172,
103288,
32279,
27881,
48628,
104107,
120003,
36528,
36315,
103507,
34695,
18029,
336044,
117731,
38006,
28440,
72836,
49069,
481985,
31714,
40779,
18599,
107674,
793271,
109444,
331385,
931499,
108282,
281792,
17464,
89412,
89254,
88474,
18032,
32584,
50199,
80542,
466859,
285714,
18814,
120922,
10242,
121080,
622,
833734,
49751,
319938,
642611,
29349,
33467,
96353,
47265,
11253,
318450,
322755,
35319,
111502,
103346,
20189,
47048,
106061,
37040,
114910,
30053,
96264,
34578,
31919,
515569,
174419,
21170,
106614,
19333,
531233,
293985,
26391,
112013,
644493,
37743,
121096,
283541,
15951,
89997,
827740,
13062,
203089,
28912,
89320,
60115,
21159,
33133,
128193,
498611,
89414,
311589,
828845,
45603,
111758,
106747,
286589,
32944,
18618,
109262,
283989,
334213,
538122,
286141,
48736,
18738,
40160,
91595,
40170,
85467,
26308,
89162,
648011,
121028,
402531,
106656,
84063,
19800,
257837,
485003,
37099,
121220,
89022,
220755,
33223,
25523,
30754,
477068,
21093,
108817,
38781,
368593,
77749,
840069,
171074,
35157,
50204,
422584,
285034,
18764,
438127,
426870,
106641,
49302,
27085,
10082,
10587,
696391,
16763,
27367,
294850,
111113,
174370,
49428,
278677,
105481,
49481,
981341,
29647,
35683,
991422,
326203,
110132,
100989,
104155,
33694,
35094,
287984,
30649,
228100,
322537,
981544,
28052,
20156,
93851,
106367,
104240,
110382,
36841,
89991,
644134,
20232,
323739,
47009,
120156,
267684,
50083,
299,
753861,
278547,
980969,
981005,
748944,
736835,
105542,
18298,
34462,
22021,
36160,
16610,
66493,
11209,
18473,
102828,
11309,
101938,
34097,
412785,
118937,
271518,
830557,
102864,
11491,
18589,
86458,
275453,
28958,
282308,
89497,
86340,
11197,
284078,
86387,
11525,
106498,
87792,
76492,
47131,
482098,
97710,
45477,
93942,
261355,
11602,
981318,
275009,
84871,
47558,
981589,
96294,
31872,
283980,
79514,
42567,
29679,
284957,
107769,
96076,
169988,
631350,
276147,
315746,
103664,
20387,
104054,
294029,
96458,
111729,
89428,
106712,
104161,
89634,
95915,
32670,
87628,
979125,
25887,
89901,
45607,
285183,
34333,
119597,
279841,
111997,
40031,
510039,
279340,
99602,
95441,
204672,
90108,
27057,
30318,
105127,
13516,
89834,
104046,
492316,
104251,
35149,
82767,
104318,
848094,
19379,
293544,
286983,
212587,
100703,
18154,
17259,
467171,
285357,
988638,
17785,
88884,
980814,
30431,
18627,
22561,
29831,
285443,
41902,
39914,
32793,
13661,
106304,
105880,
33859,
624370,
28588,
103233,
96762,
106935,
97002,
18402,
146110,
29646,
14529,
43377,
266299,
771630,
104848,
980303,
112078,
40867,
218975,
567566,
577584,
371,
35165,
286116,
295102,
978518,
979764,
228785,
18434,
91771,
28811,
30545,
337477,
84534,
334723,
114650,
89569,
41728,
316261,
596148,
91789,
16071,
33114,
314681,
106405,
358601,
306495,
77324,
281879,
17723,
32629,
15305,
13453,
470250,
442182,
40774,
932425,
46743,
31454,
191080,
537,
981258,
106750,
852,
28983,
399403,
34475,
105380,
30504,
788684,
18342,
82755,
31749,
549225,
280316,
37445,
281257,
102580,
119295,
37651,
80375,
552403,
36519,
85684,
322297,
262098,
97295,
20264,
37393,
327463,
40430,
117290,
38294,
50354,
105846,
217,
18719,
49254,
949849,
730752,
412440,
178033,
89515,
27118,
86244,
17462,
285532,
178008,
27483,
448937,
981226,
42320,
302272,
33303,
186695,
108072,
393865,
684991,
104261,
10402,
121047,
19340,
292551,
294498,
36223,
29332,
47433,
268305,
101455,
36301,
376538,
110881,
103537,
111738,
18201,
105303,
31664,
100576,
980889,
568,
38029,
111780,
84850,
981405,
821726,
169979,
96962,
18366,
897189,
665468,
988591,
11180,
95602,
33847,
461683,
668,
349809,
96304,
196691,
973526,
90013,
981431,
31294,
91392,
274877,
33818,
399251,
37205,
12598,
40327,
30502,
93711,
980189,
82287,
990699,
282377,
96292,
11640,
40268,
35375,
682570,
42458,
409280,
16555,
362960,
88981,
113174,
195525,
36985,
29790,
36373,
556967,
29299,
16611,
31911,
978769,
975855,
100711,
45768,
462840,
18775,
273874,
29184,
23761,
99579,
332239,
714397,
325023,
55964,
284366,
17370,
352529,
11628,
144625,
103668,
111804,
111784,
33470,
336192,
96106,
49598,
37175,
31008,
14624,
92346,
291786,
99692,
96317,
41260,
171093,
90526,
46846,
34120,
291,
105517,
103010,
330837,
749463,
33829,
42237,
192111,
36962,
10561,
42218,
36537,
86737,
284981,
279273,
282994,
77946,
417617,
42156,
102558,
688,
111079,
974542,
18706,
38596,
18498,
18478,
31486,
42260,
188837,
306096,
104441,
33907,
96301,
242306,
799684,
77176,
31960,
770872,
31845,
37437,
19527,
339242,
393263,
187517,
110115,
32710,
796591,
20792,
966963,
233859,
104330,
90547,
11408,
282613,
148264,
567022,
111483,
286115,
31945,
406875,
324705,
94615,
20086,
105044,
17711,
32472,
108516,
48984,
119753,
37826,
84720,
34580,
286840,
991093,
42057,
29755,
31898,
111809,
99379,
418948,
17824,
815881,
102637,
67205,
20091,
108166,
38591,
100239,
10186,
857712,
220038,
39274,
104964,
35329,
12792,
42379,
990523,
992247,
27404,
273086,
349804,
335156,
20721,
676657,
105292,
108877,
169628,
171118,
45552,
15450,
405136,
306496,
957191,
29427,
92880,
978317,
40021,
228372,
67215,
90101,
36900,
115890,
49759,
19486,
26107,
17698,
390348,
28915,
28962,
80059,
19444,
392586,
282773,
188452,
16272,
282634,
33611,
284494,
18910,
419848,
286066,
282441,
34391,
35355,
19703,
281103,
302510,
879719,
284946,
32360,
19070,
12082,
26205,
226490,
981002,
279255,
80613,
109356,
27081,
386476,
76820,
95763,
34340,
96153,
33486,
225626,
36456,
107758,
103271,
30506,
103334,
47421,
103396,
37046,
22176,
952593,
89746,
28008,
38268,
90031,
34658,
37074,
979646,
277420,
524637,
316205,
35341,
19040,
276801,
37157,
88817,
33655,
37567,
33582,
27824,
30384,
271989,
36230,
111276,
66574,
17131,
11651,
22319,
388922,
289331,
95886,
36854,
33218,
33354,
89294,
208972,
285010,
32753,
106065,
637659,
347291,
34303,
35365,
102632,
106596,
36662,
21228,
30989,
103249,
86343,
331,
120185,
668248,
644077,
94090,
283122,
18675,
107168,
21495,
12522,
990802,
45915,
36569,
38344,
80374,
981128,
40126,
89391,
34233,
100066,
38126,
38667,
532856,
744007,
34264,
278532,
351320,
96394,
22256,
19335,
42256,
227181,
326541,
12652,
19076,
119834,
268438,
859612,
18490,
281946,
98165,
102798,
105798,
110746,
36382,
95884,
285438,
47141,
415341,
106904,
38058,
35271,
33522,
94915,
146046,
108890,
106960,
229522,
460246,
32796,
42477,
48262,
378022,
110317,
25874,
352530,
28405,
108365,
386766,
19548,
309123,
89747,
26623,
12354,
665636,
96127,
16480,
96664,
278596,
41440,
285983,
273393,
281110,
29846,
32342,
103540,
412717,
42339,
72259,
980911,
221134,
981101,
17636,
20174,
391817,
273845,
40955,
283060,
42047,
268719,
34122,
284561,
102879,
36707,
33600,
664932,
34251,
419651,
38811,
264121,
96306,
332025,
22027,
10767,
100204,
32402,
32019,
78530,
277832,
86261,
105175,
47316,
772430,
32392,
482423,
316291,
305679,
285251,
37737,
31669,
336318,
82932,
19535,
88088,
107590,
102559,
288316,
94813,
102724,
805851,
33386,
37979,
28889,
33207,
10379,
473731,
32725,
22100,
107578,
376526,
543571,
979934,
18039,
229777,
11447,
16303,
401468,
16984,
47255,
18779,
598789,
38666,
315061,
37070,
93739,
105585,
273529,
95940,
990162,
19801,
40625,
29516,
89499,
978471,
284262,
42186,
32338,
18479,
10971,
18648,
18705,
579386,
979904,
17719,
108307,
76530,
30406,
16712,
24558,
288732,
110218,
255168,
410518,
96454,
100528,
17986,
34647,
10095,
27144,
96923,
48111,
22544,
107386,
326281,
37280,
286566,
31955,
337983,
88787,
95767,
97632,
15289,
84551,
21301,
29845,
108279,
106730,
108635,
26413,
95877,
285441,
501502,
16343,
284443,
19989,
988848,
106464,
12394,
43101,
33413,
980835,
81432,
90917,
103325,
18103,
440611,
94765,
49520,
95807,
102017,
18071,
226681,
88719,
105080,
274799,
37052,
18031,
111822,
29231,
104186,
32693,
22919,
284480,
318509,
210596,
10846,
250159,
89873,
95866,
19489,
285574,
184824,
278679,
99529,
29836,
107679,
323438,
95341,
33844,
103715,
30490,
89661,
378733,
169506,
82479,
29539,
29862,
103452,
89369,
47919,
48892,
111724,
410,
47101,
10005,
98574,
283442,
13555,
11015,
284435,
32611,
106887,
113254,
19859,
406052,
96503,
29844,
30884,
177677,
990495,
37336,
37247,
50023,
98680,
282343,
32919,
11175,
10327,
710061,
106638,
42178,
105531,
38221,
282496,
285747,
28792,
93883,
261637,
99465,
40959,
105399,
716912,
269770,
981079,
711470,
112226,
17830,
37076,
18671,
990872,
108092,
169896,
282482,
10281,
230229,
41548,
29125,
282677,
104343,
37370,
274078,
276,
94345,
980634,
107759,
229525,
550748,
372357,
46981,
49288,
987216,
47375,
47867,
11137,
96075,
46745,
86175,
113252,
29641,
106705,
23403,
33627,
335489,
97628,
18922,
980533,
111748,
18396,
45974,
37911,
410791,
89986,
10163,
397952,
102874,
29528,
40233,
26581,
35263,
28809,
101247,
285618,
95812,
35142,
29575,
89506,
345567,
987799,
190187,
265889,
80137,
377899,
18522,
104353,
120067,
211921,
37031,
83435,
211598,
89151,
400972,
31433,
11398,
105580,
95599,
34827,
89420,
340340,
46953,
100924,
916616,
49367,
108886,
28830,
32729,
48077,
31871,
25942,
37347,
103451,
457514,
291246,
96077,
10406,
33150,
207714,
336443,
281019,
282600,
265695,
273566,
18934,
36206,
261212,
103931,
111226,
33536,
104800,
94875,
434279,
228555,
42121,
18701,
33222,
111574,
15923,
96009,
96524,
273164,
30327,
82145,
991434,
547304,
89020,
579,
11298,
10484,
282183,
328044,
36252,
46041,
50094,
36766,
114205,
119836,
359300,
272060,
35403,
112765,
97931,
10291,
86984,
284454,
104656,
18509,
110656,
11181,
38567,
289551,
106112,
36401,
37220,
99030,
595997,
13132,
281993,
41969,
111807,
29059,
102693,
19927,
421451,
169995,
456806,
40416,
17272,
266528,
43289,
17567,
102725,
407042,
111088,
24142,
49085,
41137,
992514,
24690,
284886,
264783,
408708,
293809,
88457,
261158,
732,
128053,
383218,
94130,
41610,
218233,
49485,
20034,
169643,
291292,
31998,
77857,
104130,
285665,
33748,
18740,
11297,
41344,
84501,
38267,
980548,
41527,
673844,
10320,
992056,
34250,
11230,
10238,
600617,
407942,
16646,
47702,
28030,
28973,
18359,
230407,
443064,
10265,
10575,
33742,
10532,
45557,
103577,
87261,
106467,
118056,
10365,
17653,
29073,
231,
562560,
108257,
19874,
980132,
72590,
19193,
106721,
580019,
47672,
106688,
112436,
47516,
89740,
278857,
36568,
42086,
308607,
105767,
27875,
464,
990475,
48994,
83301,
210485,
101065,
109133,
259077,
41379,
109040,
97837,
29274,
171128,
21462,
102269,
334479,
104967,
104716,
434497,
47280,
95858,
38125,
48416,
35681,
47016,
10228,
281210,
96143,
36640,
108899,
180394,
427159,
102270,
199443,
33355,
108927,
103270,
111560,
83466,
19597,
102667,
40090,
978545,
41382,
979353,
11194,
15072,
50122,
111797,
33795,
413353,
525818,
104131,
108495,
459078,
989903,
274474,
100261,
16708,
322945,
86991,
980708,
482085,
107252,
95944,
94772,
17937,
33309,
87999,
981480,
95815,
978556,
36277,
90466,
229699,
94985,
34147,
92529,
18607,
17451,
10030,
17903,
19577,
103520,
510765,
90180,
401265,
120068,
805832,
84447,
17990,
20217,
16278,
35744,
34817,
310993,
110664,
106952,
10673,
665015,
18636,
18422,
36756,
32463,
17768,
50416,
82776,
32847,
344088,
34832,
412944,
322946,
116976,
50341,
383312,
11527,
19679,
111260,
33963,
35336,
991806,
427101,
11592,
240802,
66999,
111418,
186623,
96945,
105003,
102847,
95660,
115048,
224927,
46703,
20119,
28902,
19883,
33427,
980953,
42281,
105499,
698249,
980808,
26671,
275803,
16793,
112225,
307516,
813603,
13481,
10197,
10559,
17809,
989919,
211437,
395822,
40222,
49981,
116343,
87167,
37830,
259908,
22097,
31953,
114518,
49864,
285040,
419259,
20001,
29097,
18459,
22138,
96927,
95861,
484742,
108887,
979346,
24947,
15656,
316188,
486194,
495604,
18598,
280980,
286575,
65562,
10179,
102973,
28835,
16704,
118231,
95227,
319671,
294732,
104109,
218952,
223112,
289555,
22897,
710,
285699,
89552,
40611,
103838,
104071,
301934,
478455,
462611,
980713,
96333,
31156,
36674,
529646,
26,
11516,
105590,
286993,
278152,
267692,
147895,
316232,
17590,
20135,
30235,
35173,
89928,
102907,
517043,
33937,
406055,
325744,
41741,
326296,
390966,
280437,
120980,
334551,
79262,
35470,
20033,
33880,
20194,
22310,
14161,
101364,
108574,
34288,
85255,
16352,
286472,
90843,
914773,
90184,
50513,
50615,
92487,
185380,
18812,
375999,
98184,
146565,
35006,
417321,
74112,
420046,
27113,
87359,
34720,
839209,
96010,
211169,
24103,
37105,
282616,
25400,
684773,
300617,
109523,
361154,
991819,
93931,
280118,
105436,
284320,
481226,
169897,
28808,
16177,
555076,
47010,
18686,
285372,
41036,
789498,
105797,
10714,
36275,
19928,
31552,
313354,
388101,
103505,
10566,
109927,
29018,
95585,
110657,
104184,
112727,
37725,
46898,
17965,
33002,
105892,
105514,
80570,
90055,
41122,
96782,
264239,
94752,
50568,
316742,
102334,
980540,
105190,
109237,
79844,
408672,
20282,
95885,
314592,
41463,
109178,
333184,
226240,
42575,
105858,
40058,
90138,
18541,
29481,
482721,
10602,
356,
10172,
103538,
331953,
872952,
17727,
426565,
34651,
22302,
201056,
669323,
41650,
100863,
106821,
18471,
39238,
350360,
872264,
58478,
96638,
103488,
96066,
222835,
34037,
66878,
89085,
103075,
118792,
18843,
104210,
28993,
49030,
107999,
284985,
89483,
362988,
285619,
34345,
14243,
32765,
312777,
17587,
329670,
29498,
379500,
34145,
270909,
17655,
428882,
320507,
10458,
29936,
178066,
41704,
30331,
211523,
38013,
443809,
34016,
981261,
89212,
285324,
34206,
980337,
19425,
103720,
34527,
185805,
38977,
96308,
111970,
45907,
41410,
169925,
315016,
75808,
313089,
32163,
98735,
109244,
35071,
283567,
883323,
475269,
18178,
19299,
750092,
19694,
111136,
102860,
82458,
303627,
108744,
103658,
468147,
18382,
108925,
379122,
427670,
542519,
89832,
38081,
32046,
16597,
19845,
35035,
111842,
86199,
986598,
42851,
312980,
78708,
439154,
358,
89700,
775941,
33830,
311218,
415625,
283064,
229171,
364462,
21682,
31037,
29109,
217490,
103697,
18180,
400069,
862077,
13591,
592942,
286557,
31817,
592754,
96835,
672920,
32776,
107852,
739,
40634,
383648,
109253,
33192,
635,
90617,
28791,
19661,
96335,
84900,
980997,
111810,
42262,
355107,
37411,
33972,
110667,
102058,
66559,
47481,
18183,
756595,
769788,
103096,
84019,
108082,
211538,
327309,
106480,
88833,
119827,
10386,
104287,
48556,
18850,
33631,
50716,
47645,
17325,
17973,
876258,
968663,
103846,
449364,
26967,
563415,
278585,
33172,
180446,
314056,
49771,
19430,
32597,
675135,
15940,
82716,
19135,
84646,
454285,
33140,
15326,
294251,
42308,
105705,
95882,
929807,
29016,
29224,
170374,
11612,
402347,
78824,
35148,
49409,
286601,
10612,
282024,
99508,
33064,
27474,
86339,
120888,
18448,
980753,
981535,
79851,
33633,
41661,
344659,
95911,
42518,
41940,
21746,
27526,
19117,
24306,
18247,
110315,
103011,
78292,
472153,
31755,
986706,
106941,
28813,
285356,
278626,
228898,
16609,
36264,
40650,
41881,
107770,
47629,
402509,
33456,
179923,
283720,
19095,
10088,
103387,
259378,
97761,
943523,
102445,
36255,
171122,
111562,
436407,
102716,
18070,
337342,
103666,
36735,
991507,
111722,
408980,
371005,
33908,
230426,
35102,
36120,
210731,
275481,
67211,
36204,
981490,
93995,
281258,
19400,
123699,
979490,
429587,
33689,
991191,
285364,
30160,
41464,
88310,
46966,
106562,
292889,
183456,
89310,
46237,
21110,
23218,
311819,
13784,
25361,
34654,
41472,
99280,
21168,
102706,
103097,
980679,
36858,
89899,
96035,
285379,
30398,
377851,
36279,
37897,
83360,
747,
102514,
13978,
20362,
10675,
489452,
10593,
988596,
40531,
981574,
40624,
88821,
102609,
285628,
89684,
470973,
31730,
981046,
281499,
10298,
280858,
211756,
37858,
89915,
22249,
282116,
216229,
991743,
79811,
104078,
83501,
21488,
218996,
981055,
988427,
169541,
105763,
979568,
25101,
106757,
289165,
32470,
306392,
10137,
409176,
218033,
28788,
104440,
17778,
30595,
107850,
18001,
11497,
29938,
19825,
302143,
772654,
90534,
980116,
28036,
407765,
106813,
36891,
26397,
282383,
520742,
290949,
426348,
108251,
380223,
110220,
97513,
46199,
29291,
180159,
31160,
366749,
89945,
39040,
34110,
41159,
285228,
96119,
80384,
89722,
105724,
85639,
121030,
33412,
109247,
664341,
83794,
32552,
18811,
219024,
37575,
105811,
42506,
17266,
89161,
952747,
529213,
493032,
204530,
169899,
41546,
464034,
36324,
280823,
526799,
212170,
334518,
490905,
101243,
32882,
96325,
102657,
95828,
34767,
47527,
482988,
111677,
40103,
37765,
268302,
336449,
401139,
110082,
272097,
38371,
88925,
283033,
31581,
113249,
107799,
437511,
109899,
17110,
33567,
34435,
271456,
979567,
34799,
28611,
77891,
30656,
48311,
273749,
101622,
298,
979947,
31447,
102192,
48856,
307605,
105614,
118076,
979380,
43087,
30366,
89221,
23625,
992214,
492359,
108571,
89517,
323332,
100129,
219451,
542318,
84424,
95183,
991070,
110407,
280701,
799633,
287208,
979306,
662678,
89940,
350027,
100515,
27093,
286149,
95991,
23713,
28786,
29463,
21388,
107847,
36427,
32254,
14116,
972701,
111563,
46714,
405209,
148305,
374747,
61899,
18120,
34178,
266530,
18202,
43384,
991023,
279334,
89293,
980011,
14562,
89400,
102727,
102935,
80124,
180051,
101323,
26994,
516414,
38602,
505608,
32024,
82801,
19259,
287026,
350843,
89318,
103468,
282686,
96483,
65007,
283528,
28984,
195678,
33754,
328074,
662628,
36677,
211226,
801066,
97636,
89929,
37594,
18543,
28810,
565497,
33505,
10706,
34500,
37397,
417531,
471261,
991631,
107663,
301833,
89213,
36951,
39999,
81433,
49958,
281305,
30310,
96724,
980697,
103416,
19460,
328113,
22632,
440407,
104271,
96004,
18624,
34111,
45624,
77486,
18151,
33578,
329465,
110573,
285615,
270189,
98144,
13118,
41400,
147708,
78044,
624469,
34060,
992351,
18368,
40130,
169571,
27599,
320719,
88744,
285650,
94716,
35146,
387725,
22340,
40437,
37928,
18691,
18191,
119959,
382716,
262190,
264533,
19766,
89868,
74905,
98865,
45898,
98414,
111782,
20021,
33393,
104269,
286258,
29116,
42070,
92676,
30508,
30298,
947479,
285002,
80382,
34119,
454545,
102646,
21028,
31165,
36156,
107073,
227559,
36320,
31874,
97554,
95819,
307532,
10141,
41772,
105458,
299715,
31865,
324747,
18651,
47104,
106736,
66740,
33421,
34291,
98520,
96162,
96459,
37548,
16636,
218967,
286508,
801,
92017,
454518,
34028,
36572,
732838,
173191,
279009,
23626,
103158,
34418,
42396,
314380,
33843,
29226,
216924,
81661,
16363,
266,
111524,
19162,
104043,
564238,
29913,
89259,
89748,
34512,
95908,
30420,
280992,
376169,
37233,
96404,
102639,
89407,
19829,
33497,
981539,
105430,
96366,
18123,
43386,
33940,
19084,
107924,
838,
315092,
66810,
282197,
18125,
29322,
279638,
100237,
105848,
45920,
89234,
298666,
33610,
573743,
980489,
95959,
980170,
22040,
34192,
36705,
109030,
977738,
32122,
255401,
306885,
32026,
88966,
282335,
101277,
657759,
34292,
35291,
977487,
32686,
27072,
96034,
31017,
25395,
378760,
110542,
79158,
29363,
80539,
106361,
46884,
105238,
392204,
20048,
920587,
38864,
34168,
49150,
72671,
18078,
11045,
229567,
286167,
321840,
42182,
104120,
38014,
110447,
101539,
989869,
73761,
95206,
282769,
285823,
18439,
294036,
227767,
37589,
108023,
48409,
84142,
292446,
976960,
89907,
226294,
34736,
415998,
22273,
34641,
120907,
20670,
529230,
41225,
17769,
21803,
80502,
17899,
336500,
675856,
109530,
102964,
114334,
574167,
32956,
178802,
183606,
103034,
42797,
95849,
30297,
10090,
90546,
89930,
31403,
28272,
98113,
20674,
21268,
372176,
38160,
10275,
34835,
108292,
102084,
317651,
30980,
41914,
103135,
17243,
108316,
95818,
495222,
14862,
36273,
275040,
37415,
399179,
37295,
96253,
15185,
37623,
34089,
102986,
105995,
90458,
278658,
121029,
408421,
18165,
103870,
348465,
94038,
89948,
19177,
89432,
288350,
278672,
10667,
41425,
497370,
79222,
36184,
33442,
174497,
173243,
93648,
947357,
10180,
89853,
598730,
323939,
268557,
18317,
80726,
32997,
106465,
13528,
41941,
120012,
38282,
104285,
92396,
89195,
878963,
89835,
89837,
38086,
174842,
29234,
83268,
50258,
97770,
36200,
229404,
464375,
286266,
90657,
89828,
40224,
193200,
100243,
96173,
19547,
89910,
15531,
40482,
280016,
286036,
723443,
286616,
282175,
89800,
38670,
82781,
112878,
47282,
265945,
362,
110852,
305050,
105999,
50274,
42157,
336926,
34144,
32642,
96551,
107703,
86454,
108121,
32878,
31629,
975076,
673965,
16542,
18835,
407748,
103171,
282119,
40473,
102404,
304899,
120381,
89357,
107368,
33683,
105194,
109763,
169829,
285076,
49552,
453534,
19352,
104754,
34971,
41374,
992269,
285416,
50054,
17628,
28616,
990308,
105831,
49269,
47650,
16758,
19383,
102942,
28911,
264513,
390986,
37255,
989632,
111808,
29778,
42613,
35070,
10531,
121099,
251637,
95038,
18171,
16150,
88973,
66991,
220035,
108900,
18776,
274367,
981500,
67989,
284963,
29561,
77667,
104361,
322531,
31311,
32953,
101456,
677,
270290,
110287,
523899,
27652,
33250,
19813,
11538,
608587,
96262,
34033,
19907,
109138,
367692,
19903,
282691,
343862,
981276,
90024,
286800,
401722,
67032,
100730,
387399,
185550,
37156,
36982,
674932,
981140,
508239,
28863,
109041,
382447,
45895,
89284,
244830,
976356,
95043,
169903,
103933,
103173,
96167,
18672,
429298,
303525,
101352,
30459,
18571,
105039,
47298,
111377,
280698,
745,
991854,
105748,
34573,
104752,
108015,
19020,
981322,
50009,
580576,
42612,
308507,
40953,
111586,
40562,
35266,
286093,
78716,
285193,
650963,
108098,
36927,
18798,
436212,
816461,
286081,
979378,
145107,
107932,
595049,
10006,
112725,
14256,
111751,
105765,
282685,
89327,
37215,
379771,
429454,
89457,
19823,
34866,
34659,
99103,
37648,
96557,
86358,
282409,
34157,
283002,
46057,
313372,
285801,
89454,
20202,
307837,
67426,
10543,
90747,
42950,
200478,
108252,
220011,
102130,
111413,
105269,
37069,
86376,
87602,
379576,
98152,
30231,
34847,
604706,
109176,
829770,
281731,
220920,
108991,
102768,
20718,
38053,
103315,
17912,
28834,
283121,
80073,
292924,
104122,
106692,
96249,
270704,
35290,
286004,
40604,
28959,
977439,
36653,
282890,
102012,
11996,
229444,
90563,
41193,
99605,
96850,
95853,
18423,
18280,
89826,
278639,
103186,
19368,
212138,
34494,
102399,
74546,
39381,
990103,
619775,
770706,
333218,
33007,
581879,
284977,
32618,
106670,
17197,
33589,
986969,
15682,
18665,
462848,
20317,
105867,
34577,
112008,
290670,
47302,
200728,
67019,
17047,
374425,
26102,
90557,
990911,
28396,
41520,
281763,
40529,
36635,
170686,
98815,
104132,
93929,
473922,
111588,
210221,
103273,
21003,
18999,
991795,
10266,
36946,
409406,
107975,
95762,
48326,
295101,
979397,
41531,
20340,
771548,
806566,
100995,
98539,
29802,
32600,
722,
79420,
26286,
286030,
169626,
108724,
293952,
105839,
98309,
36482,
673715,
47981,
980672,
28424,
353787,
105855,
285834,
95799,
10103,
436956,
101614,
980501,
48413,
988553,
471089,
19277,
280584,
85071,
96133,
681423,
21464,
104140,
16335,
470066,
103327,
37409,
285526,
18341,
41253,
42564,
192125,
36712,
34132,
46160,
323444,
286109,
40366,
281955,
786,
978907,
111248,
950594,
831088,
312786,
336120,
324635,
106358,
40424,
978831,
106804,
34859,
81692,
36654,
990885,
89920,
101366,
391176,
36937,
19495,
251772,
35331,
104108,
106072,
176837,
103777,
313084,
230809,
286468,
28020,
740265,
444084,
19436,
19329,
19635,
320026,
104296,
20971,
103648,
283764,
21946,
227089,
96065,
82286,
406270,
80757,
10037,
36592,
28862,
91030,
19382,
22838,
106551,
112930,
96567,
34507,
88866,
37891,
104951,
30446,
286090,
97459,
775332,
285238,
957121,
684,
20236,
282298,
253585,
105766,
459563,
32877,
21701,
89367,
273526,
335275,
83724,
109346,
120421,
90341,
939992,
36410,
623293,
17871,
108560,
29527,
350351,
217923,
36588,
77704,
212028,
30719,
427249,
89226,
103140,
83142,
37017,
301461,
990490,
276589,
33919,
981391,
284507,
851822,
736942,
148222,
991828,
305371,
40797,
703986,
99880,
19724,
96508,
37400,
99301,
96886,
308759,
309130,
337288,
103330,
273082,
395888,
17956,
817769,
41227,
19253,
95998,
33605,
544008,
285894,
985747,
83274,
95923,
684446,
291562,
411421,
24920,
11490,
283053,
105419,
990468,
95859,
28708,
23287,
34783,
120022,
17317,
108931,
96456,
111106,
278343,
230355,
32648,
19149,
89416,
42454,
33405,
279201,
108885,
11515,
41341,
675786,
111104,
21806,
31281,
33496,
190228,
36820,
50073,
32687,
37277,
100607,
41829,
18091,
416151,
220592,
37870,
285706,
106479,
299471,
37748,
98503,
89488,
85850,
37912,
510070,
32826,
324027,
975845,
105518,
107620,
18731,
24474,
37964,
96169,
42645,
31690,
394579,
37224,
17941,
235160,
30604,
981352,
325011,
35267,
111794,
95878,
287342,
78045,
34848,
280488,
40110,
19226,
105193,
12470,
268204,
103592,
19891,
10544,
405626,
34241,
102704,
120864,
103454,
95307,
37131,
283403,
18852,
37248,
979557,
94673,
48574,
34018,
110085,
102850,
49748,
89312,
281973,
33307,
306654,
89919,
102377,
42327,
103411,
435312,
281978,
89874,
41444,
48781,
111238,
303619,
31265,
492255,
296431,
121014,
46945,
103126,
45584,
48299,
32428,
333102,
88553,
19879,
19512,
32683,
603835,
311094,
10912,
98662,
53785,
365254,
89522,
13743,
37150,
991640,
981414,
18650,
178218,
35356,
32770,
469178,
89157,
114643,
981482,
121046,
977364,
211228,
107941,
37284,
36241,
43123,
103192,
310496,
37068,
302382,
772359,
104362,
96412,
324428,
991356,
19058,
103501,
279148,
32644,
82292,
98389,
978644,
102573,
304564,
11744,
169633,
104180,
20183,
17736,
37296,
28152,
314063,
33864,
799584,
293604,
476883,
94908,
545816,
429247,
89707,
29897,
40699,
108687,
33964,
980661,
931658,
96826,
107857,
981562,
316818,
46975,
308499,
32888,
32362,
772723,
81015,
324318,
30753,
537714,
111534,
37289,
33817,
20467,
346764,
95059,
13085,
102970,
89640,
120110,
24000,
313921,
979619,
96295,
29759,
220039,
89793,
32510,
858238,
283120,
95444,
34385,
95750,
103785,
31321,
103893,
214399,
10144,
286902,
31713)







select * from repayment_detail where borrow_id=11780 order by need_repayment_time


select top 10 * from receipt_detail where borrow_id=11780 order by need_receipt_time


select * from borrow where id = 11780



select sum(a.capital) 
from receipt_detail a 
inner join borrow b on a.borrow_id=b.id
where investor_id = 131
and b.full_time<'2016-11-29'
and need_receipt_time>'2016-11-29'